@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scan-vertical {

  0%,
  100% {
    transform: translateY(calc(-50% + var(--scanning)/2 - var(--scanning-margin)));
  }

  50% {
    transform: translateY(calc(-50% - var(--scanning)/2 + var(--scanning-margin)));
  }
}

.scan-region-highlight-svg {
  stroke: white !important;
}

.code-outline-highlight{
stroke: green!important;
}